[Unit]

Modified

Description=Gunicorn instance to serve PlasticDetection After-network.target

[Service]

User-azureuser

Group-www-data

WorkingDirectory=/home/azureuser/PlasticDetection

Environment="PATH=/home/azureuser/PlasticDetection/PlasticDetection/env/bin" ExecStart=/home/azureuser/PlasticDetection/PlasticDetection/env/bin/gunicorn --workers 3 --bind unix:/home/azureuser/PlasticDetection/app.sock -m 777 wsgi:app

[Install]

WantedBy=multi-user.target